* {
  padding: 0px;
  margin: 0px;
  font-family: "Balsamiq Sans", cursive;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.flex2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

/* Start Left Column */

.blueheader {
  background-color: rgb(23, 162, 184);
  border: 3px solid rgb(23, 162, 184);
}

.jane {
  width: 92px;
  border-radius: 50%;
  position: relative;
  top: 52px;
  left: 27px;
  border: 3px solid white;
}

.mainContainer {
  padding: 20px;
  margin-left: 60px;
  margin-top: 16px;
}

.whiteMain {
  background-color: white;
  border: 3px solid rgb(204, 204, 204);
  border-top: none;
  align-items: start;
  padding-left: 36px;
  padding-top: 50px;
}

h3 {
  font-size: 30px;
}

.whiteMain > p {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 600px;
}

.map {
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.map > img {
  width: 10px;
}

.gear {
  width: 13px;
}

.moveProfile:hover {
  cursor: pointer;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }

  /* 👁👄👁 */
}
